# ============================================================================
# ProxyShard User API: OpenAPI 3.0.3.
#
# ИСТОЧНИК ПРАВДЫ по публичному API. Раньше спека жила только в GitBook
# (docs.proxyshard.com/proxyshard-api/*), из-за чего расходилась с кодом
# незаметно: ответы ручек уже отдавали message и proxy_password, а спека
# продолжала обещать старую форму.
#
# Правила:
#   * добавил/изменил ручку в services/user-api - правь этот файл в ТОМ ЖЕ
#     коммите;
#   * теги = страницы в GitBook, менять их имена без нужды не стоит;
#   * после мержа залить файл в GitBook (OpenAPI-спека проекта), иначе
#     клиенты снова увидят устаревшее.
#
# Проверка перед заливкой:
#   python -m openapi_spec_validator services/user-api/openapi.yaml
# ============================================================================
openapi: 3.0.3
info:
  title: "Платіж за API користувача ProxyShard"
  version: 1.1.0
servers:
  - url: https://user-api.proxyshard.com
security:
  - bearerAuth: []
tags:
  - name: Datacenter & ISP Proxies
    description: Операції для датацентрових та ISP проксі
  - name: General
    description: Загальні операції (профіль, замовлення, довідники)
  - name: Residential Proxies
    description: Операції для резидентських проксі
  - name: Service
    description: "Зонди здоров'я (без автентифікації)"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ActiveProxyItem:
      type: object
      properties:
        ip:
          type: string
        username:
          type: string
        password:
          type: string
        http_port:
          type: integer
        socks_port:
          type: integer
        until:
          type: string
          description: "Рядок дати ISO 8601"
        status:
          type: string
        signature:
          type: string
          nullable: true
          description: "p0f підпис, призначений для IP, нульовий, якщо не встановлено"
      required:
        - ip
        - username
        - password
        - http_port
        - socks_port
        - until
        - status
    ApiError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      required:
        - success
        - message
    AddonLine:
      type: object
      description: "Один додатковий рядок, що зберігається в замовленні"
      properties:
        addon_key:
          type: string
        catalog_id:
          type: integer
        qty:
          type: integer
          description: "Одиниці, активні в поточному періоді"
        price_per_unit:
          type: integer
          description: "Ціна одиниці в центах на момент покупки"
        pending:
          description: "Зміна запланована на наступне оновлення або `null`"
          nullable: true
          type: object
          properties:
            action:
              type: string
              enum:
                - cancel
                - downgrade
            next_qty:
              type: integer
              description: "Цільова кількість після пониження"
    PurchaseRequestDcIsp:
      type: object
      description: "Покупка для Datacenter/ISP - поле location обов'язкове."
      properties:
        product:
          type: string
          enum:
            - Datacenter Proxy
            - ISP Proxy
        location:
          type: string
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Додатки, додані під час покупки, наприклад `p0f_slots` для DC або ISP"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - location
        - cycle
    PurchaseRequestResidentialStandard:
      type: object
      description: "Покупка Standart Residential Proxy; location не потрібно; цикл фіксований (lifetime)."
      properties:
        product:
          type: string
          enum:
            - Standart Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "Додатки, додані під час покупки, наприклад `p0f_slots` для DC або ISP"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialPremium:
      type: object
      description: "Купівля для Premium Residential Proxy - location не потрібна; цикл фіксований (lifetime)."
      properties:
        product:
          type: string
          enum:
            - Premium Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "Додатки, додані під час покупки, наприклад `p0f_slots` для DC або ISP"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialUnmetered:
      type: object
      description: "Купівля для Unmetered Residential proxy - підтримує авто-продовження."
      properties:
        product:
          type: string
          enum:
            - Unmetered Residential proxy
        cycle:
          type: string
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Додатки, додані під час покупки, наприклад `p0f_slots` для DC або ISP"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseRequest:
      type: object
      properties:
        product:
          type: string
        location:
          type: string
          nullable: true
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Додатки, додані під час покупки, наприклад `p0f_slots` для DC або ISP"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_id:
          type: integer
      required:
        - success
        - message
        - order_id
    ProductWithCycles:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        cycles:
          type: array
          items:
            type: string
      required:
        - name
        - cycles
    AvailableCountResponse:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
        amount:
          type: integer
      required:
        - country
        - product
        - amount
    ApiMeResponse:
      type: object
      properties:
        email:
          type: string
        active_orders:
          type: integer
        wallet_balance:
          type: integer
          description: у центах
      required:
        - email
        - active_orders
        - wallet_balance
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
    AvailableCountRequest:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
      required:
        - country
        - product
    AddBandwidthRequest:
      type: object
      properties:
        amount:
          type: integer
          description: Обсяг у ГБ
        promo_code:
          type: string
          nullable: true
      required:
        - amount
    GetSubUsersRequest:
      type: object
      properties:
        offset:
          type: integer
          description: Зміщення (за замовчуванням 0)
        limit:
          type: integer
          description: Розмір сторінки (за замовчуванням 20)
    EditSubUserPayload:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    CreateSubUserPayload:
      type: object
      properties:
        proxy_type:
          type: string
        name:
          type: string
        data:
          type: integer
          description: Обсяг у ГБ
      required:
        - proxy_type
        - name
        - data
    ChangeSubUserPasswordPayload:
      type: object
      properties:
        proxy_type:
          type: string
      required:
        - proxy_type
    ModifyTrafficPayload:
      type: object
      properties:
        proxy_type:
          type: string
        data:
          type: integer
          description: Обсяг у ГБ
      required:
        - proxy_type
        - data
    Country:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: "ISO код країни"
        name:
          type: string
          maxLength: 255
          description: "Назва країни"
      required:
        - code
        - name
    Region:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: "Код регіону або штату"
        name:
          type: string
          maxLength: 255
          description: "Назва регіону або штату"
        country:
          $ref: '#/components/schemas/Country'
      required:
        - code
        - name
        - country
    City:
      type: object
      properties:
        code:
          type: string
          maxLength: 50
          description: "Код міста, зазвичай слаг"
        name:
          type: string
          maxLength: 255
          description: "Назва міста"
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              maxLength: 10
              description: "Код регіону"
            name:
              type: string
              maxLength: 255
              description: "Назва регіону"
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      required:
        - count
        - results
    PagedRegionsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Region'
      required:
        - count
        - results
    PagedCitiesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/City'
      required:
        - count
        - results
    Isp:
      type: object
      properties:
        code:
          type: string
          description: "Код провайдера, зазвичай слаг"
        name:
          type: string
          description: "Ім'я провайдера"
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              description: "Код регіону"
            name:
              type: string
              description: "Назва регіону"
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedIspsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Isp'
      required:
        - count
        - results
    CreateOrderAddonRequest:
      type: object
      properties:
        addon_key:
          type: string
          example: p0f_slots
        qty:
          type: integer
          minimum: 1
      required:
        - addon_key
        - qty
paths:
  /user/api/proxies/active:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: Отримати активні проксі на замовлення
      parameters:
        - in: query
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список проксі
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActiveProxyItem'
                  order_tag:
                    type: string
                    nullable: true
                required:
                  - success
                  - data
        '403':
          description: Метод недоступний для цього замовлення
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/del-np/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Налаштувати видалення для кожного IP (del-np)"
      description: "Лише для проксі-серверів центрів обробки даних і провайдерів. Після оновлення замовлення `quantity` та `price_paid` перераховуються."
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                      value:
                        type: boolean
                    required:
                      - ip
                      - value
              required:
                - items
      responses:
        '200':
          description: "Успіх"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: "Помилка перевірки / не DC-ISP / keep=0"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/signature/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Установити відбиток ОС для IP"
      description: "Встановлює підпис відбитка ОС для однієї або кількох IP-адрес проксі. Для замовлення потрібен активний додаток `p0f_slots`. Кожна IP-адреса з підписом постійно займає один слот. Зміна ОС для IP-адреси, яка вже має підпис, не потребує додаткового слота. **Доступні значення підпису:** | Значення | ОС | |-------|----| | `ios` | iOS | | `macos` | macOS | | `android` | Android | | `linux` | Linux | | `win10` | Windows 10 | | `win11` | Windows 11 |"
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - ip
                      - signature
                    properties:
                      ip:
                        type: string
                      signature:
                        type: string
                        description: "Ідентифікатор ОС для підробки."
                        enum:
                          - ios
                          - macos
                          - android
                          - linux
                          - win10
                          - win11
      responses:
        '200':
          description: "Успіх"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  updated:
                    type: integer
                    description: "Кількість оновлених IP-адрес"
        '400':
          description: "Помилка перевірки або недостатньо слотів"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/addons/calculate:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: "Розрахувати додаткову вартість"
      description: "Повертає попередній перегляд ціни для придбання додаткових одиниць певного доповнення для активного замовлення центру обробки даних/провайдера. Наразі єдиним підтримуваним ключем додатка є `p0f_slots`; Слоти для підпису відбитків пальців ОС."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "ID замовлення"
          schema:
            type: integer
        - in: query
          name: addon_key
          required: true
          description: "Ідентифікатор доповнення (наприклад, `p0f_slots`)"
          schema:
            type: string
        - in: query
          name: add_qty
          required: true
          description: "Кількість одиниць для додавання"
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: "Попередній перегляд ціни"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  addon_key:
                    type: string
                  catalog_id:
                    type: integer
                  price_per_unit:
                    type: integer
                    description: "Ціна за одиницю в центах"
                  current_qty:
                    type: integer
                  add_qty:
                    type: integer
                  new_qty:
                    type: integer
                  add_total:
                    type: integer
                    description: "Загальна вартість цієї покупки в центах"
  /user/api/orders/{order_id}/addons/purchase:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Купити додатковий компонент"
      description: "Миттєво заряджає гаманець і додає необхідну кількість додаткових одиниць до замовлення. Замовлення має бути **active**. Єдиний наразі доступний ключ доповнення - `p0f_slots`."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "ID замовлення"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - add_qty
              properties:
                addon_key:
                  type: string
                add_qty:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: "Придбано додаток"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons_price_paid:
                    type: integer
                    description: "Сукупна додаткова вартість для цього замовлення (центи)"
                  addons:
                    type: array
                    description: "Оновлений список додатків зберігається в замовленні"
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Запланувати пониження додаткового компонента"
      description: "Планує, щоб **downgrade** доповнення набуло чинності в наступному циклі оновлення. Нова кількість має бути меншою за поточну. Зміни зберігаються як маркер `pending` і застосовуються автоматично під час оновлення замовлення."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "ID замовлення"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - action
                - next_qty
              properties:
                addon_key:
                  type: string
                action:
                  type: string
                  enum:
                    - downgrade
                next_qty:
                  type: integer
                  description: "Цільова кількість після оновлення. Має бути менше поточної кількості."
                  minimum: 1
      responses:
        '200':
          description: "Заплановано пониження"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule/cancel:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Скасувати заплановане зниження"
      description: "Видаляє очікування повернення, яке було встановлено через кінцеву точку розкладу."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "ID замовлення"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
              properties:
                addon_key:
                  type: string
      responses:
        '200':
          description: "Очікування повернення видалено"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/purchase:
    post:
      tags:
        - General
      summary: Створити та сплатити замовлення
      description: |
        Купівля на ім'я продукту, локації та циклу.
        Для Datacenter/ISP - location обов'язковий.
        Для Standart Residential Proxy location не потрібно.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PurchaseRequestDcIsp'
                - $ref: '#/components/schemas/PurchaseRequestResidentialStandard'
                - $ref: '#/components/schemas/PurchaseRequestResidentialPremium'
                - $ref: '#/components/schemas/PurchaseRequestResidentialUnmetered'
                - $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseResponse'
        '400':
          description: Помилка валідації/балансу/недолік стоку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизований
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/calculate:
    get:
      tags:
        - General
      summary: "Розрахувати вартість замовлення"
      description: "Розраховує ціну за назвою продукту, назвою циклу та кількістю. Використовує ті самі правила перевірки, що й покупка (дозволені платіжні цикли, правила рекламної акції)."
      parameters:
        - in: query
          name: product
          required: true
          schema:
            type: string
        - in: query
          name: location
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: cycle
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: quantity
          required: false
          schema:
            type: integer
            nullable: true
        - in: query
          name: promo_code
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: addons_json
          required: false
          description: "Масив JSON із кодуванням URL-адреси доповнень, напр. [{\"addon_key\":\"p0f_slots\",\"qty\":5}]"
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: "Успіх"
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
                  addons_price:
                    type: integer
                    description: "Загальна вартість додаткових компонентів у мінімальних одиницях"
                  total_with_addons:
                    type: integer
                    description: final_price + addons_price
        '400':
          description: "Помилка підтвердження"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "Потрібна авторизація"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/change-billing-cycle/{order_id}:
    post:
      tags:
        - General
      summary: Змінити платіжний цикл замовлення
      description: |
        Змінює цикл оплати за назвою циклу. Тільки для Datacenter & ISP проксі.
        Якщо промокод недоступний для вибраного циклу, він буде автоматично скинутий.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle:
                  type: string
              required:
                - cycle
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  order_id:
                    type: integer
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
        '400':
          description: Неправильний продукт чи цикл
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизований
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Цикл недоступний для цього користувача
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/edit-auto-renewal/{order_id}:
    post:
      tags:
        - General
      summary: Змінити автопродовження замовлення
      description: |
        Увімкнути/вимкнути авто-продовження. Тільки для Datacenter & ISP проксі.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
        - in: query
          name: auto_renewal
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Неправильний продукт для операції
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизований
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/products:
    get:
      tags:
        - General
      summary: Отримати продукти та їх цикли
      description: Повертає продукти API з назвами доступних циклів.
      responses:
        '200':
          description: Список продуктів
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductWithCycles'
                required:
                  - success
                  - products
  /user/api/proxies/available-count:
    get:
      tags:
        - General
      summary: "Отримати кількість доступних проксі"
      description: Повертає доступну сумарну кількість для всіх продуктів.
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCountResponse'
  /user/api/me:
    get:
      tags:
        - General
      summary: Інформація про користувача
      responses:
        '200':
          description: Дані профілю
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMeResponse'
  /user/api/orders:
    get:
      tags:
        - General
      summary: Список замовлень
      parameters:
        - in: query
          name: status
          required: true
          description: "активний | на утриманні | скасовано | все"
          schema:
            type: string
        - in: query
          name: offset
          required: false
          description: Зміщення вибірки (за умовчанням 0)
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          required: false
          description: Розмір сторінки (1..100, за замовчуванням 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Список замовлень
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        product_id:
                          type: integer
                        product_name:
                          type: string
                        cycle_id:
                          type: integer
                        cycle_name:
                          type: string
                        expires_at:
                          type: string
                          nullable: true
                          description: ISO8601 час закінчення
                        auto_renewal:
                          type: boolean
                          nullable: true
                        tag:
                          type: string
                          nullable: true
                      required:
                        - order_id
                        - product_id
                        - product_name
                        - cycle_id
                        - cycle_name
                  count:
                    type: integer
                    description: Кількість замовлень у поточній вибірці
                  prev:
                    type: string
                    nullable: true
                    description: URI попередньої сторінки
                  next:
                    type: string
                    nullable: true
                    description: URI наступної сторінки
                required:
                  - success
                  - orders
  /user/api/orders/{id}:
    get:
      tags:
        - General
      summary: Отримати інформацію про замовлення
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Інформація про замовлення
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    type: object
                    properties:
                      order_id:
                        type: integer
                      product_name:
                        type: string
                      cycle_name:
                        type: string
                      quantity:
                        type: integer
                      price_paid:
                        type: integer
                        description: "Базова ціна підписки в центах"
                      addons_price_paid:
                        type: integer
                        description: "Загальна додаткова вартість у центах"
                      addons:
                        type: array
                        description: "Додаткові рядки додаються до цього замовлення"
                        items:
                          $ref: '#/components/schemas/AddonLine'
                      p0f_slots_available:
                        type: integer
                        description: "Активні слоти для підпису p0f (з надбудов)"
                      p0f_slots_used:
                        type: integer
                        description: "Слоти, наразі зайняті підписаними проксі-серверами"
                      p0f_slots_next:
                        type: integer
                        description: "Слоти, які будуть активні після наступного оновлення"
                      status:
                        type: string
                      created_at:
                        type: string
                        nullable: true
                      expires_at:
                        type: string
                        nullable: true
                      promo_code:
                        type: string
                        nullable: true
                      auto_renewal:
                        type: boolean
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                required:
                  - success
                  - order
  /user/api/orders/{id}/renew:
    post:
      tags:
        - General
      summary: Продовжити замовлення
      description: "Поновлення доступне тільки при статусі замовлення `on-hold`."
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order renewed successfully
                required:
                  - success
                  - message
        '400':
          description: Недостатній баланс/валідація
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{id}/tag:
    post:
      tags:
        - General
      summary: Змінити тег замовлення
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
              required:
                - tag
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order tag updated
                required:
                  - success
                  - message
  /user/api/orders/{id}/add-bandwidth:
    post:
      tags:
        - Residential Proxies
      summary: Купити додатковий трафік (Residential)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBandwidthRequest'
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order paid successfully
                required:
                  - success
                  - message
  /user/api/proxies/profile:
    get:
      tags:
        - Residential Proxies
      summary: "Трафік власника облікового запису"
      description: "Повертає загальний і залишковий обсяг даних батьківського облікового запису для вказаного типу проксі, агрегований за замовленнями власника. На відміну від endpoint-ів субкористувача, тут показано дані власника облікового запису, а не субкористувача."
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "Тип проксі (стандарт | преміум)"
          schema:
            type: string
      responses:
        '200':
          description: "Успіх"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: integer
                    description: "Загальна кількість виділених даних у байтах"
                  data_remain:
                    type: integer
                    description: "Залишок даних у байтах"
                  data_spent:
                    type: integer
                    description: "Спожиті дані в байтах"
                  proxy_password:
                    type: string
                    description: "Пароль проксі-сервера батьківського облікового запису"
                required:
                  - success
                  - data
                  - data_remain
                  - data_spent
                  - proxy_password
        '400':
          description: "Резидент користувача не встановлено / недійсний тип проксі"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "Потрібна авторизація"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/sub-users:
    get:
      tags:
        - Residential Proxies
      summary: Список саб-користувачів
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
        - in: query
          name: offset
          required: false
          schema:
            type: integer
        - in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: "Загальна кількість підкористувачів до розбиття на сторінки"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                        data_remain:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
                        - data_remain
  /user/api/proxies/sub-user/{user_id}:
    get:
      tags:
        - Residential Proxies
      summary: Отримати саб-користувача за ID
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
    delete:
      tags:
        - Residential Proxies
      summary: Видалити саб-користувача
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user deleted successfully
                required:
                  - success
                  - message
    patch:
      tags:
        - Residential Proxies
      summary: Редагувати саб-користувача (ім'я/пакет)
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubUserPayload'
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user edited successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user:
    post:
      tags:
        - Residential Proxies
      summary: Створити саб-користувача
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                data:
                  type: integer
              required:
                - name
                - data
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
  /user/api/proxies/sub-user/{user_id}/data/add:
    post:
      tags:
        - Residential Proxies
      summary: Додати трафік саб-користувачу
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Обсяг у ГБ
              required:
                - data
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic added to sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/data/subtract:
    post:
      tags:
        - Residential Proxies
      summary: Списати трафік у саб-користувача
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Обсяг у ГБ
              required:
                - data
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic subtracted from sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/password:
    post:
      tags:
        - Residential Proxies
      summary: Змінити пароль саб-користувача
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user password changed successfully
                required:
                  - success
                  - message
  /user/api/proxies/countries:
    get:
      tags:
        - Residential Proxies
      summary: Список країн
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCountriesResponse'
  /user/api/proxies/regions:
    get:
      tags:
        - Residential Proxies
      summary: Список регіонів
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO код країни
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedRegionsResponse'
  /user/api/proxies/cities:
    get:
      tags:
        - Residential Proxies
      summary: Список міст
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип проксі (standard | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO код країни
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: Код регіону (штату/провінції)
          schema:
            type: string
      responses:
        '200':
          description: Успішно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCitiesResponse'
  /user/api/proxies/isps:
    get:
      tags:
        - Residential Proxies
      summary: "Список провайдерів"
      description: "наявність інтернет-провайдерів у місті; четвертий рівень націлювання після країни, регіону та міста. На відміну від інших кінцевих точок розташування, для цього потрібен повний ланцюжок: потрібні `country_code`, `region_code` ТА `city_code`, оскільки перші провайдери прив’язані до міста. Лише преміальний пакет: каталог провайдерів не підтримується для стандартних і необмежених пакетів, а будь-які інші `proxy_type` відхиляються з 400. Інтернет-провайдери наведено лише для великих міст, тому порожній `results` із `count: 0` є нормальною відповіддю для меншого міста."
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "Має бути `premium`; Орієнтація на провайдера лише преміум-класу"
          schema:
            type: string
            enum:
              - premium
        - in: query
          name: country_code
          required: true
          description: "ISO код країни"
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: "Код регіону або штату"
          schema:
            type: string
        - in: query
          name: city_code
          required: true
          description: "Код міста з GET /user/api/proxies/cities"
          schema:
            type: string
      responses:
        '200':
          description: "Успіх"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIspsResponse'
        '400':
          description: "proxy_type не `premium`, резидент користувача не встановлено, або користувач не має активного замовлення на пакет"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                notPremium:
                  value:
                    success: false
                    message: ISP targeting is available for the premium package only
        '401':
          description: "Потрібна авторизація"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /health:
    get:
      tags:
        - Service
      summary: "Перевірка стану сервісу"
      description: "Поза префіксом /user/api/, тому ключ API не потрібен."
      security: []
      responses:
        '200':
          description: "Служба працює"
  /health/live:
    get:
      tags:
        - Service
      summary: "Перевірка працездатності"
      description: "Поза префіксом /user/api/, тому ключ API не потрібен."
      security: []
      responses:
        '200':
          description: "Служба працює"
